body{
    margin: 0px;
}
.main{
    margin: 8px;
}
.navigation_block{
    display: flex;
    flex-direction: row;
    background: #80bdff;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navigation_block li {
    display: inline;
}