body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
footer{
    flex: 0 0 auto;
    padding: 16px;
}
.pagination_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination_container div{
    width: 50%;
    margin: 4px;
}
.main{
    margin: 8px;
    flex: 1 0 auto;
}
.navigation_block{
    display: flex;
    flex-direction: row;
    background: #fcf7dc;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 4px;
}

.navigation_block a {
    display: inline;
    margin: 4px;
    font-size:larger;
    font-weight:bolder;
}
.list_item_container{
    border: 1px solid #ababab;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    margin: 4px;
    justify-content: space-between;
}
.list_item_container p{
    padding: 4px;
    margin: 2px;
    display: inline;
}